In [2]:
import pandas as pd

import numpy as np



# Create sample weather data

cities = ['New York', 'Los Angeles', 'Chicago', 'Houston']

date_range = pd.date_range(start='2023-01-01', end='2023-12-31', freq='D')

data = {

 'Date': np.tile(date_range, len(cities)),

 'City': np.repeat(cities, len(date_range)),

 'Temperature': np.random.normal(15, 10, size=len(cities) * len(date_range)),

 'Humidity': np.random.normal(60, 15, size=len(cities) * len(date_range)),

 'WindSpeed': np.random.normal(10, 5, size=len(cities) * len(date_range))

}



df = pd.DataFrame(data)

df

           Date      City  Temperature   Humidity  WindSpeed
0    2023-01-01  New York    12.456420  60.495852   7.091924
1    2023-01-02  New York    16.316282  45.232129   8.609636
2    2023-01-03  New York     3.458917  48.220244  14.539550
3    2023-01-04  New York     8.710284  41.412007  19.860096
4    2023-01-05  New York    10.665972  83.534447  10.217881
...         ...       ...          ...        ...        ...
1455 2023-12-27   Houston    20.069388  58.695364  22.798581
1456 2023-12-28   Houston    22.696213  60.562532  11.103913
1457 2023-12-29   Houston    19.078928  56.943841   9.594007
1458 2023-12-30   Houston    32.887425  36.923392  14.601944
1459 2023-12-31   Houston    20.562263  35.874841  16.367557

[1460 rows x 5 columns]

## Task 1: Pivot the Data to Show Temperature for Each City by Date

In [3]:
# Pivot the data to show temperature for each city by date
pivot_temp = df.pivot(index='Date', columns='City', values='Temperature')
print("Pivoted Temperature Data:\n", pivot_temp.head())

Pivoted Temperature Data:
 City          Chicago    Houston  Los Angeles   New York
Date
2023-01-01   4.020356  17.949282    11.626410  12.456420
2023-01-02  13.330828  32.098683    16.062846  16.316282
2023-01-03  11.782012   4.644233    19.441459   3.458917
2023-01-04  11.931772   4.233449     9.817554   8.710284
2023-01-05  32.655874   5.935197    12.208656  10.665972

## Task 2: Melt the Pivoted Temperature Data Back to Long Format

In [4]:
# Melt the pivoted temperature data
melted_temp = pivot_temp.reset_index().melt(id_vars='Date', var_name='City', value_name='Temperature')
print("\nMelted Temperature Data:\n", melted_temp)

Melted Temperature Data:
            Date      City  Temperature
0    2023-01-01   Chicago     4.020356
1    2023-01-02   Chicago    13.330828
2    2023-01-03   Chicago    11.782012
3    2023-01-04   Chicago    11.931772
4    2023-01-05   Chicago    32.655874
...         ...       ...          ...
1455 2023-12-27  New York     8.028653
1456 2023-12-28  New York    11.158359
1457 2023-12-29  New York     8.950784
1458 2023-12-30  New York    13.777269
1459 2023-12-31  New York     3.934849

[1460 rows x 3 columns]

## Task 3: Create a Multi-Index DataFrame with City and Date as Index Levels

In [5]:
# Set City and Date as MultiIndex
multi_index_temp = melted_temp.set_index(['City', 'Date'])
print("\nMulti-Index Temperature Data:\n", multi_index_temp)

Multi-Index Temperature Data:
                      Temperature
City     Date
Chicago  2023-01-01     4.020356
         2023-01-02    13.330828
         2023-01-03    11.782012
         2023-01-04    11.931772
         2023-01-05    32.655874
...                          ...
New York 2023-12-27     8.028653
         2023-12-28    11.158359
         2023-12-29     8.950784
         2023-12-30    13.777269
         2023-12-31     3.934849

[1460 rows x 1 columns]

## Task 4: Stack the Multi-Index DataFrame to Create a Series

In [6]:
# Stack the multi-index DataFrame to create a Series
stacked_temp = multi_index_temp.stack()
print("\nStacked Temperature Series:\n", stacked_temp)

Stacked Temperature Series:
 City      Date
Chicago   2023-01-01  Temperature     4.020356
          2023-01-02  Temperature    13.330828
          2023-01-03  Temperature    11.782012
          2023-01-04  Temperature    11.931772
          2023-01-05  Temperature    32.655874
                                       ...
New York  2023-12-27  Temperature     8.028653
          2023-12-28  Temperature    11.158359
          2023-12-29  Temperature     8.950784
          2023-12-30  Temperature    13.777269
          2023-12-31  Temperature     3.934849
Length: 1460, dtype: float64

## Task 5: Unstack the Series to Create a DataFrame with Cities as Columns

In [7]:
# Unstack the Series to create a DataFrame with cities as columns
unstacked_temp = stacked_temp.unstack(level='City')
print("\nUnstacked Temperature DataFrame:\n", unstacked_temp.head())

Unstacked Temperature DataFrame:
 City                      Chicago    Houston  Los Angeles   New York
Date
2023-01-01 Temperature   4.020356  17.949282    11.626410  12.456420
2023-01-02 Temperature  13.330828  32.098683    16.062846  16.316282
2023-01-03 Temperature  11.782012   4.644233    19.441459   3.458917
2023-01-04 Temperature  11.931772   4.233449     9.817554   8.710284
2023-01-05 Temperature  32.655874   5.935197    12.208656  10.665972