# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [26]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [27]:
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv"

df = pd.read_csv(url)

print(df.head())
print(df.dtypes)

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
3     GP   F   15       U     GT3       T     4     2   health  services  ...
4     GP   F   16       U     GT3       T     3     3    other     other  ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10

[5 rows x 33 columns]
school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [28]:
df = df.loc[:, 'school':'guardian']

print(df.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher
1     GP   F   17       U     GT3       T     1     1  at_home     other
2     GP   F   15       U     LE3       T     1     1  at_home     other
3     GP   F   15       U     GT3       T     4     2   health  services
4     GP   F   16       U     GT3       T     3     3    other     other

   reason guardian
0  course   mother
1  course   father
2   other   mother
3    home   mother
4    home   father

### Step 5. Create a lambda function that capitalize strings.

In [29]:
def lambda_function(x): 
    return x.upper() if isinstance(x, str) else x

We only capitalizeize strings and ignore numeric values.

### Step 6. Capitalize both Mjob and Fjob

In [30]:
df['Mjob'] = df['Mjob'].apply(lambda x: lambda_function(x))
df['Fjob'] = df['Fjob'].apply(lambda x: lambda_function(x))

print(df.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  \
0     GP   F   18       U     GT3       A     4     4  AT_HOME   TEACHER
1     GP   F   17       U     GT3       T     1     1  AT_HOME     OTHER
2     GP   F   15       U     LE3       T     1     1  AT_HOME     OTHER
3     GP   F   15       U     GT3       T     4     2   HEALTH  SERVICES
4     GP   F   16       U     GT3       T     3     3    OTHER     OTHER

   reason guardian
0  course   mother
1  course   father
2   other   mother
3    home   mother
4    home   father

### Step 7. Print the last elements of the data set.

In [31]:
print(df.tail())

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
390     MS   M   20       U     LE3       A     2     2  SERVICES  SERVICES
391     MS   M   17       U     LE3       T     3     1  SERVICES  SERVICES
392     MS   M   21       R     GT3       T     1     1     OTHER     OTHER
393     MS   M   18       R     LE3       T     3     2  SERVICES     OTHER
394     MS   M   19       U     LE3       T     1     1     OTHER   AT_HOME

     reason guardian
390  course    other
391  course   mother
392  course    other
393  course   mother
394  course   father

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

## Answer:

The Mjob and Fjob columns are all captitalized as we can see from the last 5 rows of the dataset.

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [32]:
def majority(age):
    return age > 17

df['legal_drinker'] = df['age'].apply(majority)

print(df.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  \
0     GP   F   18       U     GT3       A     4     4  AT_HOME   TEACHER
1     GP   F   17       U     GT3       T     1     1  AT_HOME     OTHER
2     GP   F   15       U     LE3       T     1     1  AT_HOME     OTHER
3     GP   F   15       U     GT3       T     4     2   HEALTH  SERVICES
4     GP   F   16       U     GT3       T     3     3    OTHER     OTHER

   reason guardian  legal_drinker
0  course   mother           True
1  course   father          False
2   other   mother          False
3    home   mother          False
4    home   father          False

### Step 10. Multiply every number of the dataset by 10.

##### I know this makes no sense, don't forget it is just an exercise

In [33]:
df_numeric = df.select_dtypes(include='number')
df[df_numeric.columns] = df_numeric * 10

print(df.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  \
0     GP   F  180       U     GT3       A    40    40  AT_HOME   TEACHER
1     GP   F  170       U     GT3       T    10    10  AT_HOME     OTHER
2     GP   F  150       U     LE3       T    10    10  AT_HOME     OTHER
3     GP   F  150       U     GT3       T    40    20   HEALTH  SERVICES
4     GP   F  160       U     GT3       T    30    30    OTHER     OTHER

   reason guardian  legal_drinker
0  course   mother           True
1  course   father          False
2   other   mother          False
3    home   mother          False
4    home   father          False