In [255]:
from faker import Faker
import random
import numpy as np
import pandas as pd

## Generate a Weather Dataset using Faker

The dataset includes missing values (represented by None) and bad data (represented by strings) for various columns. The missing values and bad data are introduced randomly with a probability of 10% and 5%, respectively.

In [256]:
fake = Faker()

# Define city names
cities = ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Philadelphia', 'Phoenix', 'San Antonio', 'San Diego', 'Dallas', 'San Jose']

# Define season names
seasons = ['Spring', 'Summer', 'Fall', 'Winter']

# Define column names
columns = ['City', 'Date', 'Season', 'Temperature (C)', 'Humidity (%)', 'Wind Speed (km/h)', 'Wind Direction', 'Barometric Pressure (hPa)', 'Precipitation (mm)', 'Cloud Cover (%)', 'Visibility (km)', 'Dew Point (°C)', 'Heat Index (°C)', 'Wind Chill (°C)', 'UV Index', 'Sunrise Time', 'Sunset Time', 'Moonrise Time', 'Moonset Time', 'Moon Phase', 'Weather Description']

# Generate data
weather_data = []
for _ in range(100):
    city = random.choice(cities)
    date = fake.date_between(start_date='-1y', end_date='today')
    season = random.choice(seasons)
    temperature = fake.pyfloat(min_value=-20, max_value=50, right_digits=2)
    humidity = fake.random_int(min=0, max=100)
    wind_speed = fake.pyfloat(min_value=0, max_value=100, right_digits=2)
    wind_direction = fake.random_element(elements=('N', 'NE', 'E', 'SE', 'S', 'SW', 'W', 'NW'))
    barometric_pressure = fake.pyfloat(min_value=950, max_value=1050, right_digits=2)
    precipitation = fake.pyfloat(min_value=0, max_value=100, right_digits=2)
    cloud_cover = fake.random_int(min=0, max=100)
    visibility = fake.pyfloat(min_value=0, max_value=50, right_digits=2)
    dew_point = fake.pyfloat(min_value=-20, max_value=30, right_digits=2)
    heat_index = fake.pyfloat(min_value=-10, max_value=60, right_digits=2)
    wind_chill = fake.pyfloat(min_value=-20, max_value=20, right_digits=2)
    uv_index = fake.random_int(min=0, max=11)
    sunrise_time = fake.time(pattern='%H:%M:%S')
    sunset_time = fake.time(pattern='%H:%M:%S')
    moonrise_time = fake.time(pattern='%H:%M:%S')
    moonset_time = fake.time(pattern='%H:%M:%S')
    moon_phase = fake.random_element(elements=('New Moon', 'Waxing Crescent', 'First Quarter', 'Waxing Gibbous', 'Full Moon', 'Waning Gibbous', 'Last Quarter', 'Waning Crescent'))
    weather_description = fake.sentence(nb_words=5)

    # Introduce missing values
    if random.random() < 0.1:
        temperature = None
    if random.random() < 0.1:
        humidity = None
    if random.random() < 0.1:
        wind_speed = None
    if random.random() < 0.1:
        barometric_pressure = None
    if random.random() < 0.1:
        precipitation = None
    if random.random() < 0.1:
        cloud_cover = None
    if random.random() < 0.1:
        visibility = None
    if random.random() < 0.1:
        dew_point = None
    if random.random() < 0.1:
        heat_index = None
    if random.random() < 0.1:
        wind_chill = None 
    if random.random() < 0.1:
        uv_index = None 
    if random.random() < 0.1:
        sunrise_time = None 
    if random.random() < 0.1:
        sunset_time = None 
    if random.random() < 0.1:
        moonrise_time = None 
    if random.random() < 0.1:
        moonset_time = None 
    if random.random() < 0.1:
        moon_phase = None 
    if random.random() < 0.1:
        weather_description = None 

    # Introduce bad data
    if random.random() < 0.05:
        temperature = fake.pystr(min_chars=5, max_chars=10) 
    if random.random() < 0.05:
        humidity = fake.pyint(min_value=-100, max_value=200) 
    if random.random() < 0.05:
        wind_speed = fake.pystr(min_chars=5, max_chars=10) 
    if random.random() < 0.05:
        barometric_pressure = fake.pyint(min_value=500, max_value=1500) 
    if random.random() < 0.05:
        precipitation = fake.pyint(min_value=-100, max_value=200) 
    if random.random() < 0.05:
        cloud_cover = fake.pyint(min_value=-100, max_value=200) 
    if random.random() < 0.05:
        visibility = fake.pyint(min_value=-100, max_value=100) 
    if random.random() < 0.05:
        dew_point = fake.pystr(min_chars=5, max_chars=10) 
    if random.random() < 0.05:
        heat_index = fake.pyint(min_value=-100, max_value=100) 
    if random.random() < 0.05:
        wind_chill = fake.pystr(min_chars=5, max_chars=10) 
    if random.random() < 0.05:
        uv_index = fake.pyint(min_value=-10, max_value=20)

    weather_data.append([city, date, season, temperature, humidity, wind_speed, wind_direction, barometric_pressure, precipitation, cloud_cover, visibility, dew_point, heat_index, wind_chill, uv_index, sunrise_time, sunset_time, moonrise_time, moonset_time, moon_phase, weather_description])

## Clean the data by dropping dublicates and and sorting the data

- Drop duplicate rows based on 'City', 'Season', and 'Date' columns because we gonna use these three columns for indexing
- Sort the dataframe by 'City', 'Season', and 'Date' (these 3 columns will be used for indexing) so that we a cleaner view in the pivot table

In [257]:
# Create a dataframe
weather_df = pd.DataFrame(weather_data, columns=columns)

# Drop duplicate rows based on 'City', 'Season', and 'Date' columns because we gonna use these three columns for indexing
weather_df = weather_df.drop_duplicates(subset=['City', 'Season', 'Date'], keep='first')

# Sort the dataframe by 'City', 'Season', and 'Date' (these 3 columns will be used for indexing) so that we have a cleaner view in the pivot table
weather_df = weather_df.sort_values(by=['City', 'Season', 'Date'])

print(weather_df.shape)
weather_df

(99, 21)

,City,Date,Season,Temperature (C),Humidity (%),Wind Speed (km/h),Wind Direction,Barometric Pressure (hPa),Precipitation (mm),Cloud Cover (%),...,Dew Point (°C),Heat Index (°C),Wind Chill (°C),UV Index,Sunrise Time,Sunset Time,Moonrise Time,Moonset Time,Moon Phase,Weather Description
84,Chicago,2023-12-03,Fall,-11.69,1.0,69.69,NE,983.42,52.43,1.0,...,16.77,NaN,-15.2,7.0,10:06:26,15:24:40,18:17:05,11:02:25,Full Moon,Total explain shake.
42,Chicago,2024-02-06,Fall,-9.92,7.0,5.78,W,1010.20,33.91,85.0,...,11.45,12.62,-14.73,11.0,12:08:40,16:41:31,15:18:38,11:40:18,Waxing Crescent,Professional result military black.
47,Chicago,2024-03-30,Fall,40.38,93.0,77.6,N,960.55,30.90,36.0,...,2.39,98.00,12.3,5.0,16:59:32,01:53:51,13:26:03,19:09:31,Waxing Gibbous,Win that eat spring develop camera.
77,Chicago,2024-01-29,Summer,13.17,62.0,49.57,S,993.81,178.00,11.0,...,26.41,30.26,4.18,11.0,12:07:39,06:58:32,17:55:49,22:53:14,None,Control thought fact.
33,Chicago,2024-06-10,Summer,22.35,72.0,uhDYnV,NW,966.30,72.24,5.0,...,21.81,-4.90,-7.9,1.0,None,09:49:53,16:33:51,14:55:18,Waxing Gibbous,Various together police suddenly.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,San Jose,2024-06-09,Summer,-18.77,88.0,64.76,NE,957.40,79.53,20.0,...,-13.2,9.51,-7.78,NaN,19:24:55,04:59:47,07:03:14,14:55:10,New Moon,Election size view require.
73,San Jose,2024-06-19,Summer,3.58,2.0,75.37,NE,976.91,20.00,77.0,...,2.21,14.12,NvQwoWYYs,10.0,09:19:38,05:39:41,12:54:28,None,Waxing Crescent,Change become draw produce become.
36,San Jose,2024-02-02,Winter,ZzKHnnjPxb,66.0,eWjgsRcL,E,958.80,11.27,27.0,...,28.69,36.65,9.5,10.0,14:21:45,10:16:08,07:55:58,13:18:26,Waning Crescent,Sister brother thus never.
69,San Jose,2024-06-02,Winter,13.74,NaN,74.6,SW,1009.93,45.19,-27.0,...,17.38,1.32,None,9.0,None,01:27:29,11:14:31,19:11:21,First Quarter,None
88,San Jose,2024-06-08,Winter,3.36,53.0,66.97,E,957.82,89.56,8.0,...,14.8,-7.87,5.31,6.0,11:12:05,17:40:09,22:23:08,02:04:42,Full Moon,Certainly money ok.

## Assignment: Understanding Tidy Data

Tidy data is a standard way of mapping the meaning of a dataset to its structure. A dataset is considered tidy if it satisfies the following principles:

1. Each variable forms a column.
2. Each observation forms a row.
3. Each type of observational unit forms a table.

In this assignment, we will explore how to reshape the weather dataset to conform to the principles of tidy data using various pandas functions.

## Question 1: Pivot the data to show humidity (%) for each city by season. If there were dublicated data, use the mean value of the humidity for each city and season and roundund it to two decimal places.

Before pivoting the data, we need to check if there are any duplicate values in the dataframe. If there are, we need to handle them by taking the mean value of the humidity for each city and season. Also we need to handle any non-numeric and invalid values (e.g: negative values in the 'Humidity (%)' column).

In [258]:
# Convert all numeric strings to numbers and any non-numeric strings to NaN.
weather_df['Humidity (%)'] = pd.to_numeric(weather_df['Humidity (%)'], errors='coerce')

# Convert invalid values (negative values) to NaN
weather_df['Humidity (%)'] = weather_df['Humidity (%)'].where(weather_df['Humidity (%)'] >= 0, np.nan)

# Fill NaN temperature values with the forward and back fill method
weather_df['Humidity (%)'] = weather_df['Humidity (%)'].ffill().bfill()
# print(weather_df['Humidity (%)'].isna().sum().sum())

pivoted_data = pd.pivot_table(weather_df, values='Humidity (%)', index='City', columns='Season', aggfunc=lambda x: np.round(np.mean(x), decimals=2))
pivoted_data

Season         Fall  Spring  Summer  Winter
City
Chicago       33.67     NaN   67.00   26.00
Dallas        29.67   44.20   71.00   40.00
Houston       60.33   87.00   99.00   60.25
Los Angeles   66.00     NaN   30.50   46.67
New York      79.50   58.50   97.00   41.67
Philadelphia  61.75   22.67   60.67   61.00
Phoenix       66.00   44.25   59.00   93.50
San Antonio   57.50  110.75   46.40   69.00
San Diego     28.50   45.00   80.00   67.00
San Jose      97.00   23.00   45.00   61.67

## Question 2: Melt the pivoted humidity data back to the long format,  treating 'City' and 'Season' as identifier variables, and  columns as value variables.

In [259]:
melted_data = pivoted_data.reset_index().melt(id_vars=['City'], var_name='Season', value_name='Humidity (%)')
melted_data

            City  Season  Humidity (%)
0        Chicago    Fall         33.67
1         Dallas    Fall         29.67
2        Houston    Fall         60.33
3    Los Angeles    Fall         66.00
4       New York    Fall         79.50
5   Philadelphia    Fall         61.75
6        Phoenix    Fall         66.00
7    San Antonio    Fall         57.50
8      San Diego    Fall         28.50
9       San Jose    Fall         97.00
10       Chicago  Spring           NaN
11        Dallas  Spring         44.20
12       Houston  Spring         87.00
13   Los Angeles  Spring           NaN
14      New York  Spring         58.50
15  Philadelphia  Spring         22.67
16       Phoenix  Spring         44.25
17   San Antonio  Spring        110.75
18     San Diego  Spring         45.00
19      San Jose  Spring         23.00
20       Chicago  Summer         67.00
21        Dallas  Summer         71.00
22       Houston  Summer         99.00
23   Los Angeles  Summer         30.50
24      New York  Summer         97.00
25  Philadelphia  Summer         60.67
26       Phoenix  Summer         59.00
27   San Antonio  Summer         46.40
28     San Diego  Summer         80.00
29      San Jose  Summer         45.00
30       Chicago  Winter         26.00
31        Dallas  Winter         40.00
32       Houston  Winter         60.25
33   Los Angeles  Winter         46.67
34      New York  Winter         41.67
35  Philadelphia  Winter         61.00
36       Phoenix  Winter         93.50
37   San Antonio  Winter         69.00
38     San Diego  Winter         67.00
39      San Jose  Winter         61.67

## Question 3: Pivot the melted dataset back to its wide format, with 'City' as rows, and 'Season' as columns.

In [260]:
pivoted_data = melted_data.pivot(index=['City'], columns='Season', values='Humidity (%)')
pivoted_data

Season         Fall  Spring  Summer  Winter
City
Chicago       33.67     NaN   67.00   26.00
Dallas        29.67   44.20   71.00   40.00
Houston       60.33   87.00   99.00   60.25
Los Angeles   66.00     NaN   30.50   46.67
New York      79.50   58.50   97.00   41.67
Philadelphia  61.75   22.67   60.67   61.00
Phoenix       66.00   44.25   59.00   93.50
San Antonio   57.50  110.75   46.40   69.00
San Diego     28.50   45.00   80.00   67.00
San Jose      97.00   23.00   45.00   61.67

## Question ４: Apply functions using .apply() or .map() to create a new column 'Temperature (F)' that converts the temperature from Celsius to Fahrenheit.

Before converting the data, we need to handle any non-numeric values and fill up any missing values in the 'Temperature (C)' column.

In [261]:
# Convert all numeric strings to numbers and any non-numeric strings to NaN.
weather_df['Temperature (C)'] = pd.to_numeric(weather_df['Temperature (C)'], errors='coerce')

# Fill NaN temperature values with the forward and back fill method
weather_df['Temperature (C)'] = weather_df['Temperature (C)'].ffill().bfill()
# print(weather_df['Temperature (C)'].isna().sum().sum())

# Use the .apply() function to create a new column 'Temperature (°F)' that converts the temperature from Celsius to Fahrenheit.
weather_df['Temperature (F)'] = weather_df['Temperature (C)'].apply(lambda x: (x * 9/5) + 32)
weather_df[['Temperature (C)', 'Temperature (F)']]

    Temperature (C)  Temperature (F)
84           -11.69           10.958
42            -9.92           14.144
47            40.38          104.684
77            13.17           55.706
33            22.35           72.230
..              ...              ...
93           -18.77           -1.786
73             3.58           38.444
36             3.58           38.444
69            13.74           56.732
88             3.36           38.048

[99 rows x 2 columns]

## Question 5: Apply functions using .apply() or .map() to replace the 'Moon Phase' values with a numerical encoding as below:

```
'New Moon'          : 0,
'Waxing Crescent'   : 1,
'First Quarter'     : 2,
'Waxing Gibbous'    : 3,
'Full Moon'         : 4,
'Waning Gibbous'    : 5,
'Last Quarter'      : 6,
'Waning Crescent'   : 7
```

Before converting the data, we need to fill up any missing values in the 'Moon Phase' column.

In [262]:
# Fill missing values with the forward and back fill method
weather_df['Moon Phase'] = weather_df['Moon Phase'].ffill().bfill()
# print(weather_df['Moon Phase'].isna().sum().sum())

# Use map() to replace the 'Moon Phase' values with a numerical encoding
moon_phase_map = {'New Moon': 0, 'Waxing Crescent': 1, 'First Quarter': 2, 'Waxing Gibbous': 3,
                  'Full Moon': 4, 'Waning Gibbous': 5, 'Last Quarter': 6, 'Waning Crescent': 7}
weather_df['Moon Phase'] = weather_df['Moon Phase'].map(moon_phase_map)
weather_df['Moon Phase']

84    4
42    1
47    3
77    3
33    3
     ..
93    0
73    1
36    7
69    2
88    4
Name: Moon Phase, Length: 99, dtype: int64

## Question 6: Create a Multi-Index DataFrame with City and Season as Index Levels, and other columns as variable

In [263]:
multi_index_df = weather_df.set_index(['City', 'Season', 'Date'])
multi_index_df

                            Temperature (C)  Humidity (%) Wind Speed (km/h)  \
City     Season Date
Chicago  Fall   2023-12-03           -11.69           1.0             69.69
                2024-02-06            -9.92           7.0              5.78
                2024-03-30            40.38          93.0              77.6
         Summer 2024-01-29            13.17          62.0             49.57
                2024-06-10            22.35          72.0            uhDYnV
...                                     ...           ...               ...
San Jose Summer 2024-06-09           -18.77          88.0             64.76
                2024-06-19             3.58           2.0             75.37
         Winter 2024-02-02             3.58          66.0          eWjgsRcL
                2024-06-02            13.74          66.0              74.6
                2024-06-08             3.36          53.0             66.97

                           Wind Direction  Barometric Pressure (hPa)  \
City     Season Date
Chicago  Fall   2023-12-03             NE                     983.42
                2024-02-06              W                    1010.20
                2024-03-30              N                     960.55
         Summer 2024-01-29              S                     993.81
                2024-06-10             NW                     966.30
...                                   ...                        ...
San Jose Summer 2024-06-09             NE                     957.40
                2024-06-19             NE                     976.91
         Winter 2024-02-02              E                     958.80
                2024-06-02             SW                    1009.93
                2024-06-08              E                     957.82

                            Precipitation (mm)  Cloud Cover (%)  \
City     Season Date
Chicago  Fall   2023-12-03               52.43              1.0
                2024-02-06               33.91             85.0
                2024-03-30               30.90             36.0
         Summer 2024-01-29              178.00             11.0
                2024-06-10               72.24              5.0
...                                        ...              ...
San Jose Summer 2024-06-09               79.53             20.0
                2024-06-19               20.00             77.0
         Winter 2024-02-02               11.27             27.0
                2024-06-02               45.19            -27.0
                2024-06-08               89.56              8.0

                            Visibility (km) Dew Point (°C)  Heat Index (°C)  \
City     Season Date
Chicago  Fall   2023-12-03            10.16          16.77              NaN
                2024-02-06            42.60          11.45            12.62
                2024-03-30            41.54           2.39            98.00
         Summer 2024-01-29           -32.00          26.41            30.26
                2024-06-10            39.88          21.81            -4.90
...                                     ...            ...              ...
San Jose Summer 2024-06-09            10.47          -13.2             9.51
                2024-06-19            23.37           2.21            14.12
         Winter 2024-02-02            42.87          28.69            36.65
                2024-06-02             5.70          17.38             1.32
                2024-06-08            22.72           14.8            -7.87

                           Wind Chill (°C)  UV Index Sunrise Time Sunset Time  \
City     Season Date
Chicago  Fall   2023-12-03           -15.2       7.0     10:06:26    15:24:40
                2024-02-06          -14.73      11.0     12:08:40    16:41:31
                2024-03-30            12.3       5.0     16:59:32    01:53:51
         Summer 2024-01-29            4.18      11.0     12:07:39    06:58:32
                2024-06-10            -7.9       1.0         None    09:49:53
...                                    ...       ...          ...         ...
San Jose Summer 2024-06-09           -7.78       NaN     19:24:55    04:59:47
                2024-06-19       NvQwoWYYs      10.0     09:19:38    05:39:41
         Winter 2024-02-02             9.5      10.0     14:21:45    10:16:08
                2024-06-02            None       9.0         None    01:27:29
                2024-06-08            5.31       6.0     11:12:05    17:40:09

                           Moonrise Time Moonset Time  Moon Phase  \
City     Season Date
Chicago  Fall   2023-12-03      18:17:05     11:02:25           4
                2024-02-06      15:18:38     11:40:18           1
                2024-03-30      13:26:03     19:09:31           3
         Summer 2024-01-29      17:55:49     22:53:14           3
                2024-06-10      16:33:51     14:55:18           3
...                                  ...          ...         ...
San Jose Summer 2024-06-09      07:03:14     14:55:10           0
                2024-06-19      12:54:28         None           1
         Winter 2024-02-02      07:55:58     13:18:26           7
                2024-06-02      11:14:31     19:11:21           2
                2024-06-08      22:23:08     02:04:42           4

                                            Weather Description  \
City     Season Date
Chicago  Fall   2023-12-03                 Total explain shake.
                2024-02-06  Professional result military black.
                2024-03-30  Win that eat spring develop camera.
         Summer 2024-01-29                Control thought fact.
                2024-06-10    Various together police suddenly.
...                                                         ...
San Jose Summer 2024-06-09          Election size view require.
                2024-06-19   Change become draw produce become.
         Winter 2024-02-02           Sister brother thus never.
                2024-06-02                                 None
                2024-06-08                  Certainly money ok.

                            Temperature (F)
City     Season Date
Chicago  Fall   2023-12-03           10.958
                2024-02-06           14.144
                2024-03-30          104.684
         Summer 2024-01-29           55.706
                2024-06-10           72.230
...                                     ...
San Jose Summer 2024-06-09           -1.786
                2024-06-19           38.444
         Winter 2024-02-02           38.444
                2024-06-02           56.732
                2024-06-08           38.048

[99 rows x 19 columns]

## Question 7: Reshape the dataset using .stack() or .unstack() to stack the Multi-Index DataFrame to Create a Series

In [264]:
stacked_df = multi_index_df.stack()
stacked_df

City      Season  Date
Chicago   Fall    2023-12-03  Temperature (C)                           -11.69
                              Humidity (%)                                 1.0
                              Wind Speed (km/h)                          69.69
                              Wind Direction                                NE
                              Barometric Pressure (hPa)                 983.42
                                                                  ...
San Jose  Winter  2024-06-08  Moonrise Time                           22:23:08
                              Moonset Time                            02:04:42
                              Moon Phase                                     4
                              Weather Description          Certainly money ok.
                              Temperature (F)                           38.048
Length: 1757, dtype: object

## Question 8: Reshape the dataset using .stack() or .unstack() to convert the long format of the stacked dataset back to a wide format, with separate columns for each variable.

Before unstacking the data, we need to make sure there were no duplicated indexes.

In [265]:
unstacked_df = stacked_df.unstack()
unstacked_df

                           Temperature (C) Humidity (%) Wind Speed (km/h)  \
City     Season Date
Chicago  Fall   2023-12-03          -11.69          1.0             69.69
                2024-02-06           -9.92          7.0              5.78
                2024-03-30           40.38         93.0              77.6
         Summer 2024-01-29           13.17         62.0             49.57
                2024-06-10           22.35         72.0            uhDYnV
...                                    ...          ...               ...
San Jose Summer 2024-06-09          -18.77         88.0             64.76
                2024-06-19            3.58          2.0             75.37
         Winter 2024-02-02            3.58         66.0          eWjgsRcL
                2024-06-02           13.74         66.0              74.6
                2024-06-08            3.36         53.0             66.97

                           Wind Direction Barometric Pressure (hPa)  \
City     Season Date
Chicago  Fall   2023-12-03             NE                    983.42
                2024-02-06              W                    1010.2
                2024-03-30              N                    960.55
         Summer 2024-01-29              S                    993.81
                2024-06-10             NW                     966.3
...                                   ...                       ...
San Jose Summer 2024-06-09             NE                     957.4
                2024-06-19             NE                    976.91
         Winter 2024-02-02              E                     958.8
                2024-06-02             SW                   1009.93
                2024-06-08              E                    957.82

                           Precipitation (mm) Cloud Cover (%) Visibility (km)  \
City     Season Date
Chicago  Fall   2023-12-03              52.43             1.0           10.16
                2024-02-06              33.91            85.0            42.6
                2024-03-30               30.9            36.0           41.54
         Summer 2024-01-29              178.0            11.0           -32.0
                2024-06-10              72.24             5.0           39.88
...                                       ...             ...             ...
San Jose Summer 2024-06-09              79.53            20.0           10.47
                2024-06-19               20.0            77.0           23.37
         Winter 2024-02-02              11.27            27.0           42.87
                2024-06-02              45.19           -27.0             5.7
                2024-06-08              89.56             8.0           22.72

                           Dew Point (°C) Heat Index (°C) Wind Chill (°C)  \
City     Season Date
Chicago  Fall   2023-12-03          16.77             NaN           -15.2
                2024-02-06          11.45           12.62          -14.73
                2024-03-30           2.39            98.0            12.3
         Summer 2024-01-29          26.41           30.26            4.18
                2024-06-10          21.81            -4.9            -7.9
...                                   ...             ...             ...
San Jose Summer 2024-06-09          -13.2            9.51           -7.78
                2024-06-19           2.21           14.12       NvQwoWYYs
         Winter 2024-02-02          28.69           36.65             9.5
                2024-06-02          17.38            1.32             NaN
                2024-06-08           14.8           -7.87            5.31

                           UV Index Sunrise Time Sunset Time Moonrise Time  \
City     Season Date
Chicago  Fall   2023-12-03      7.0     10:06:26    15:24:40      18:17:05
                2024-02-06     11.0     12:08:40    16:41:31      15:18:38
                2024-03-30      5.0     16:59:32    01:53:51      13:26:03
         Summer 2024-01-29     11.0     12:07:39    06:58:32      17:55:49
                2024-06-10      1.0          NaN    09:49:53      16:33:51
...                             ...          ...         ...           ...
San Jose Summer 2024-06-09      NaN     19:24:55    04:59:47      07:03:14
                2024-06-19     10.0     09:19:38    05:39:41      12:54:28
         Winter 2024-02-02     10.0     14:21:45    10:16:08      07:55:58
                2024-06-02      9.0          NaN    01:27:29      11:14:31
                2024-06-08      6.0     11:12:05    17:40:09      22:23:08

                           Moonset Time Moon Phase  \
City     Season Date
Chicago  Fall   2023-12-03     11:02:25          4
                2024-02-06     11:40:18          1
                2024-03-30     19:09:31          3
         Summer 2024-01-29     22:53:14          3
                2024-06-10     14:55:18          3
...                                 ...        ...
San Jose Summer 2024-06-09     14:55:10          0
                2024-06-19          NaN          1
         Winter 2024-02-02     13:18:26          7
                2024-06-02     19:11:21          2
                2024-06-08     02:04:42          4

                                            Weather Description  \
City     Season Date
Chicago  Fall   2023-12-03                 Total explain shake.
                2024-02-06  Professional result military black.
                2024-03-30  Win that eat spring develop camera.
         Summer 2024-01-29                Control thought fact.
                2024-06-10    Various together police suddenly.
...                                                         ...
San Jose Summer 2024-06-09          Election size view require.
                2024-06-19   Change become draw produce become.
         Winter 2024-02-02           Sister brother thus never.
                2024-06-02                                  NaN
                2024-06-08                  Certainly money ok.

                           Temperature (F)
City     Season Date
Chicago  Fall   2023-12-03          10.958
                2024-02-06          14.144
                2024-03-30         104.684
         Summer 2024-01-29          55.706
                2024-06-10           72.23
...                                    ...
San Jose Summer 2024-06-09          -1.786
                2024-06-19          38.444
         Winter 2024-02-02          38.444
                2024-06-02          56.732
                2024-06-08          38.048

[99 rows x 19 columns]